:root {
    font-family: 'Amatic SC', cursive;
    color: white;
}

html {
    height: 98%;
}

body {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

div {
    height: 100%;
    width: 20%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div:nth-child(1) {
    background-image: url(https://source.unsplash.com/gYl-UtwNg_I/1500x1500);
    background-size: cover;
}

div:nth-child(2) {
    background-image: url(https://source.unsplash.com/rFKUFzjPYiQ/1500x1500);
    background-size: cover;
}

div:nth-child(3) {
    background-image: url(https://images.unsplash.com/photo-1465188162913-8fb5709d6d57?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&w=1500&h=1500&fit=crop&s=967e8a713a4e395260793fc8c802901d);
    background-size: cover;
}

div:nth-child(4) {
    background-image: url(https://source.unsplash.com/ITjiVXcwVng/1500x1500);
    background-size: cover;
}

div:nth-child(5) {
    background-image: url(https://source.unsplash.com/3MNzGlQM7qs/1500x1500);
    background-size: cover;
}

div:nth-child(odd) {
    background-color: darkblue;
}

div:nth-child(even) {
    background-color: purple;
}

div p:first-child {
    display: none;
}

div p:nth-child(2) {
    font-size: 5em;
}

div p:last-child {
    display: none;
}