html, body {
    height: 90%;
    background-color: #678db8;
}

h1 {
    text-align: center;
    font-size: 3em;
}

#title {
    color: #FF7F50
}

.slidercontainer {
    text-align: center;
    color: white;
    font-size: larger;
    margin: 5vh 0 5vh 0;
}

#hero-container {
    display: block;
    width: 800px;
    height: 500px;
    background-color: #FF7F50;
    margin: auto;
    padding: 20px;
}

#hero {
    background-image: url("https://source.unsplash.com/7bwQXzbF6KE/800x500");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}