html {
  background-image: url('./background.jpg');
  /* background-repeat: no-repeat;
  background-size: 100vw; */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.keys {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid lightblue;
  height: 98vh;
  width: 98vw;
}

.key-item {
  border: 2px solid black;
  padding: 3vw;
  color: white;
  background-color: grey;
  font-weight: bolder;
  font-size: 4em;
}

@media only screen and (max-width: 780px) {
  html {
    background-image: url('./A_Rolling_Stones_crowd_-_1976_-Knebworth_House_B&W.jpg');
    background-size: 100%;
  }

  .keys {
    display: grid;
    grid-template-columns: auto auto auto;
  }
}