html {
  background-image: url('./background.jpg');
  /* background-repeat: no-repeat;
  background-size: 100vw; */
}

.keys {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 98vh;
}

.key-item {
  border: 2px solid black;
  color: #ffffff;
  background-color: #444444;
  font-size: 4em;
  width: 10vw;
  text-align: center;
  cursor: pointer;
}

.key-item p {
  font-size: 0.4em;
}

@media only screen and (max-width: 800px) and (min-width: 481px) {
  html {
    background-image: url('./background.jpg');
  }
  
  .keys {
    display: grid;
    grid-template-columns: auto auto auto;
    height: 98vh;
  }

  .key-item {
    border: 2px solid black;
    color: #ffffff;
    background-color: #444444;
    font-size: 4em;
    margin: 1vh 1vw;
  }

  .key-item p {
    font-size: 0.3em;
    cursor: pointer;
  }
}

@media only screen and (max-width: 480px) {
  html {
    background-image: url('./A_Rolling_Stones_crowd_-_1976_-Knebworth_House_B&W.jpg');
    background-size: contain;
  }
  
  .keys {
    display: grid;
    grid-template-columns: auto auto;
    /* border: 1px solid lightblue; */
    height: 98vh;
  }

  .key-item {
    border: 2px solid black;
    color: #ffffff;
    background-color: #444444;
    font-size: 3em;
    text-align: center;
    margin: 1vh 1vw;
    cursor: pointer;
  }

  .key-item p {
    display: none;
  }